header *{
    transition: linear all 300ms !important;
}
header > aside > a > h1 {
    font-weight: bold;
}

.shine-hover{
    transition: all 500ms;
}

.shine-hover:hover {
    filter: drop-shadow(0px 0px 3px white);
}

.shine {
    filter: drop-shadow(0px 0px 3px white);
}

.wave-reflection {
    text-shadow: 0 20px 5px silver;
}

#nav-btn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    margin: 20px 10px;
}

#nav-btn img {
    width: 2rem;
}

#nav-list {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
    padding: 0;
    z-index: 100;
}

#nav-list * {
    font-weight: bold;
    font-size: 1.3rem;
}

#nav-list > li {
    list-style: none;
    margin: 2rem;
}


@media (max-width: 1400px) {
    #nav-list:NOT(.active) {
        display: none;
    }

    #nav-list {
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20vh;
        top: 0;
        left: 0;
    }

    #nav-list > li {
        margin: 5rem;
    }
}

@keyframes left-to-right {
    from {

    }
    to {

    }
}
