console {
    text-align: left;
    display: block;
    width: 80vw;
    min-width: 300px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    max-width: 100%;
    background: black;
    border-top: 20px outset silver;
    border-left: 1px outset silver;
    border-right: 1px outset silver;
    border-bottom: 3px outset silver;
    animation: console-on 300ms;
}

console > .explain-section {
    background: inherit;
    color: inherit;
    border-radius: 10px;
    margin: 30px 10px;
    padding: 10px;
    min-height: 30vh;
    animation: console-on 300ms;
}

@keyframes console-on {
    from {
        filter: invert(0);
    }
    to {
        filter: invert(0.3);
    }
}
