console {
    text-align: left;
    display: block;
    width: fit-content;
    min-width: 300px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    max-width: 100%;
    background: black;
    border: 1px outset silver;
    animation: console-on 300ms;
}

@keyframes console-on {
    from{
        filter: invert(0);
    }
    to{
        filter: invert(0.3);
    }
}
