console {
    text-align: left;
    display: block;
    width: fit-content;
    min-width: 450px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    max-width: 100%;
    background: black;
    border-top: 20px outset silver;
    border-left: 1px outset silver;
    border-right: 1px outset silver;
    border-bottom: 3px outset silver;
    animation: console-on 300ms;
}

console > section {
    display: none;
    animation: spread-bottom 500ms;
}

console > section.active {
    display: initial;
}

@keyframes console-on {
    from {
        filter: invert(0);
    }
    to {
        filter: invert(0.3);
    }
}

@keyframes spread-bottom {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
