@charset "UTF-8";

:root {
    --text: #fff;
    --background-side: #000;
    --background: #232333;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    background: var(--background) !important;
    color: var(--text) !important;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-arrow-color: var(--text);
    scrollbar-color: rgba(255, 255, 255, 0.25) var(--background-side);
}