@charset "UTF-8";

:root {
    --text: #fff;
    --background-side: #000;
    --background: #232333;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    background: var(--background) !important;
    color: var(--text) !important;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-arrow-color: var(--text);
    scrollbar-color: rgba(255, 255, 255, 0.25) var(--background-side);
    overscroll-behavior: contain;
}

body > header, body > footer {
    background: var(--background-side);
    min-height: 10vh;
}

body > section {
    padding: 1rem;
    min-height: 80vh;
    background: linear-gradient(var(--background-side), var(--background) 10%, var(--background) 90%, var(--background-side));
}

body > header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

body > header > aside {
    margin: auto 0;
}
