@charset "UTF-8";


x {
    text-shadow: 1px 1px 5px rgba(200, 200, 200, 0.6),
    1px -1px 5px rgba(200, 200, 200, 0.6),
    -1px 1px 5px rgba(200, 200, 200, 0.6),
    -1px -1px 5px rgba(200, 200, 200, 0.6);
    color: var(--text);
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

x {
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
}

x[breath] {
    animation: icon-breath 3s infinite;
}

@keyframes icon-breath {
    0% {
        text-shadow: 1px 1px 5px rgba(200, 200, 200, 0.6),
        1px -1px 5px rgba(200, 200, 200, 0.6),
        -1px 1px 5px rgba(200, 200, 200, 0.6),
        -1px -1px 5px rgba(200, 200, 200, 0.6);
    }
    50% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        text-shadow: 1px 1px 5px rgba(200, 200, 200, 0.6),
        1px -1px 5px rgba(200, 200, 200, 0.6),
        -1px 1px 5px rgba(200, 200, 200, 0.6),
        -1px -1px 5px rgba(200, 200, 200, 0.6);
    }
}

.phantom {
    animation: phantom 5s;
}

@keyframes phantom {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rotate-always {
    animation: infinity-rotate 3s infinite linear;
}

.rotate-hover:hover {
    animation: infinity-rotate 1s infinite linear;
}

@keyframes infinity-rotate {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(calc(36deg + 36deg));
    }
    30% {
        transform: rotate(calc(36deg + 36deg + 36deg));
    }
    40% {
        transform: rotate(calc(36deg + 36deg + 36deg + 36deg));
    }
    50% {
        transform: rotate(calc(36deg + 36deg + 36deg + 36deg + 36deg));
    }
    60% {
        transform: rotate(calc(36deg + 36deg + 36deg + 36deg + 36deg + 36deg));
    }
    70% {
        transform: rotate(calc(36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg));
    }
    80% {
        transform: rotate(calc(36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg));
    }
    90% {
        transform: rotate(calc(36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg));
    }
    100% {
        transform: rotate(calc(36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg + 36deg));
    }
}

x[double] {
    font-size: 2rem;
}

x[text] {
    font-size: 1rem;
}
